#Liren header {
  height: 0.9rem;
  width: 100%;
  box-shadow: 0 1px 3px #d8d8d8;
  -webkit-box-shadow: 0 1px 3px #d8d8d8;
  justify-content: space-between;
  display: flex;
  font: 0.32rem/0.9rem "";
  color: #000000;
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 1000; }
  #Liren header a {
    display: block;
    height: 100%;
    width: 0.9rem; }
    #Liren header a img {
      height: 0.4rem;
      width: 0.22rem; }
  #Liren header .lir {
    height: 100%;
    width: 0.9rem; }
#Liren #Top {
  height: 0.9rem;
  width: 100%; }
#Liren section .liput {
  display: block;
  width: 7.08rem;
  height: 0.62rem;
  border: 1px solid #e3e3e3;
  border-radius: 0.1rem;
  background: #f3f3f3;
  text-align: center;
  margin: 0.18rem auto; }
  #Liren section .liput span {
    font: 0.22rem/0.62rem "";
    color: #676767;
    background: url(../images/liser.png) no-repeat left center;
    padding-left: 0.45rem;
    background-size: 0.22rem 0.22rem; }
#Liren section .linav {
  border-bottom: 1px solid #ededed;
  padding-bottom: 0.17rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #Liren section .linav li {
    width: 25%;
    height: 1.6rem;
    text-align: center;
    font: 0.24rem/0.53rem "";
    color: #000; }
    #Liren section .linav li img {
      height: 0.95rem;
      width: 0.95rem;
      margin: 0.12rem auto 0;
      display: block; }
#Liren section .liSlide {
  height: 1.2rem;
  display: flex;
  justify-content: space-between; }
  #Liren section .liSlide .liSlide-L {
    width: 1.15rem;
    height: 0.7rem;
    border-right: 1px solid #f0f0f0;
    margin-top: 0.23rem; }
    #Liren section .liSlide .liSlide-L img {
      height: 0.45rem;
      width: 0.88rem; }
  #Liren section .liSlide .liSlide-R {
    flex: 1;
    height: 100%; }
    #Liren section .liSlide .liSlide-R .swiper-slide {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.15rem 0.2rem;
      box-sizing: border-box; }
      #Liren section .liSlide .liSlide-R .swiper-slide .talk p {
        font: 0.25rem "";
        color: #000000;
        font-weight: 700;
        margin-bottom: 0.15rem; }
      #Liren section .liSlide .liSlide-R .swiper-slide .talk span {
        font: 0.2rem/0.3rem "";
        color: #ef75a4;
        border: 1px solid #ef75a4;
        background: #f6f6f8;
        margin-right: 0.17rem; }
      #Liren section .liSlide .liSlide-R .swiper-slide .img {
        height: 0.7rem;
        width: 0.7rem; }
#Liren section .AD {
  height: 2rem;
  width: 100%;
  background: #f0f0f0; }
  #Liren section .AD a {
    display: block;
    height: 100%;
    width: 100%; }
    #Liren section .AD a img {
      height: 1.6rem;
      width: 7.1rem; }
#Liren section .list {
  padding: 0.08rem;
  display: flex;
  justify-content: space-between;
  height: 4.65rem;
  width: 100%;
  box-sizing: border-box; }
  #Liren section .list img {
    height: 1.06rem;
    width: 1.06rem; }
  #Liren section .list .list-l {
    width: 49.5%;
    height: 100%; }
    #Liren section .list .list-l .list-l-t {
      height: 3.07rem;
      background: #f6f6f6;
      margin-bottom: 0.08rem;
      text-align: center;
      padding-top: 0.35rem;
      box-sizing: border-box; }
      #Liren section .list .list-l .list-l-t p {
        font: 0.29rem "";
        color: #000;
        font-weight: 700;
        margin-bottom: 0.15rem; }
      #Liren section .list .list-l .list-l-t span {
        font: 0.2rem/0.32rem "";
        padding: 0 0.2rem;
        border: 1px solid #cf527e;
        border-radius: 0.17rem;
        color: #cf527e; }
      #Liren section .list .list-l .list-l-t img {
        margin-top: 0.45rem; }
    #Liren section .list .list-l .list-l-b {
      height: 1.5rem;
      background: #f6f6f6; }
      #Liren section .list .list-l .list-l-b a {
        display: block;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding: 0.36rem 0.3rem;
        box-sizing: border-box; }
        #Liren section .list .list-l .list-l-b a .list-l-b-l p {
          font: 0.29rem "";
          color: #000;
          font-weight: 700;
          margin-bottom: 0.15rem; }
        #Liren section .list .list-l .list-l-b a .list-l-b-l span {
          font: 0.2rem/0.32rem "";
          padding: 0 0.2rem;
          border: 1px solid #b83ba3;
          color: #b83ba3;
          border-radius: 0.17rem; }
  #Liren section .list .list-r {
    width: 49.5%;
    height: 100%; }
    #Liren section .list .list-r li {
      height: 1.5rem;
      width: 100%;
      background: #f6f6f6; }
      #Liren section .list .list-r li a {
        display: block;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding: 0.36rem 0.3rem;
        box-sizing: border-box; }
        #Liren section .list .list-r li a .li-l p {
          font: 0.29rem "";
          color: #000;
          font-weight: 700;
          margin-bottom: 0.15rem; }
        #Liren section .list .list-r li a .li-l span {
          font: 0.2rem/0.32rem "";
          padding: 0 0.2rem;
          border: 1px solid;
          border-radius: 0.17rem; }
      #Liren section .list .list-r li:nth-child(1) span {
        color: #9345aa;
        border-color: #9345aa; }
      #Liren section .list .list-r li:nth-child(1) img {
        width: 0.98rem;
        height: 0.71rem; }
      #Liren section .list .list-r li:nth-child(2) {
        margin: 0.08rem 0; }
        #Liren section .list .list-r li:nth-child(2) span {
          color: #c2a88f;
          border-color: #c2a88f; }
      #Liren section .list .list-r li:nth-child(3) span {
        color: #7561d2;
        border-color: #7561d2; }
#Liren section .find {
  height: 0.9rem;
  width: 100%;
  background: #f0f0f0;
  padding-left: 0.3rem;
  border-top: 1px solid #e1e1e1;
  font: 0.24rem/0.9rem "";
  box-sizing: border-box; }
  #Liren section .find span {
    font: 0.3rem/0.9rem "";
    font-weight: 700;
    color: #000;
    margin-right: 0.1rem; }
#Liren section .nav {
  height: 1.02rem;
  width: 100%;
  z-index: 2; }
  #Liren section .nav .select {
    height: 1.02rem;
    width: 100%;
    box-shadow: 0 1px 2px #d8d8d8;
    -webkit-box-shadow: 0 1px 3px #d8d8d8; }
    #Liren section .nav .select ul {
      display: flex;
      justify-content: flex-start;
      width: 21.5rem;
      height: 100%;
      background: #fff; }
      #Liren section .nav .select ul li {
        height: 100%;
        width: 2rem;
        font: 0.33rem/1.02rem "";
        color: #000;
        text-align: center; }
        #Liren section .nav .select ul li.active {
          background: #fd5bb0;
          color: #fff; }
#Liren section .fixer {
  position: fixed;
  top: 0.9rem; }
#Liren section .product .goodslist1 .goods {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  box-sizing: border-box;
  padding-bottom: 0.15rem;
  border-bottom: 0.1rem solid #f0f0f0; }
  #Liren section .product .goodslist1 .goods .goodst {
    padding: 0.2rem 0;
    border-bottom: 1px solid #e0e0e0; }
    #Liren section .product .goodslist1 .goods .goodst .goodst1 {
      font: 0.3rem/0.5rem "";
      color: #000000;
      font-weight: 700;
      justify-content: flex-start;
      display: flex;
      height: 0.5rem; }
      #Liren section .product .goodslist1 .goods .goodst .goodst1 span {
        display: block;
        height: 0.36rem;
        width: 0.36rem;
        font: 0.22rem/0.36rem "";
        color: #fff;
        text-align: center;
        background: #ff642d;
        margin: auto 0.1rem; }
      #Liren section .product .goodslist1 .goods .goodst .goodst1 i {
        display: block;
        height: 0.36rem;
        width: 0.36rem;
        font: 0.22rem/0.36rem "";
        color: #fff;
        text-align: center;
        background: #62b529;
        margin: auto 0; }
    #Liren section .product .goodslist1 .goods .goodst .goodst2 {
      display: flex;
      justify-content: space-between;
      height: 0.6rem; }
      #Liren section .product .goodslist1 .goods .goodst .goodst2 .goodst2-l {
        display: flex;
        justify-content: flex-start; }
        #Liren section .product .goodslist1 .goods .goodst .goodst2 .goodst2-l ul {
          display: flex;
          justify-content: flex-start;
          margin: auto 0; }
          #Liren section .product .goodslist1 .goods .goodst .goodst2 .goodst2-l ul li {
            margin-right: 0.05rem; }
            #Liren section .product .goodslist1 .goods .goodst .goodst2 .goodst2-l ul li img {
              height: 0.24rem;
              width: 0.24rem; }
        #Liren section .product .goodslist1 .goods .goodst .goodst2 .goodst2-l i {
          font: 0.22rem/0.6rem "";
          margin-left: 0.22rem; }
      #Liren section .product .goodslist1 .goods .goodst .goodst2 span {
        font: 0.22rem/0.6rem ""; }
    #Liren section .product .goodslist1 .goods .goodst .goodst3 i {
      font: 0.18rem/0.32rem "";
      color: #ff7fc9;
      border: 1px solid #ff7fc9; }
      #Liren section .product .goodslist1 .goods .goodst .goodst3 i span {
        color: #fff;
        background: #ff7fc9;
        margin-right: 0.1rem; }
  #Liren section .product .goodslist1 .goods .goodsb .goodsb1 {
    font: 0.24rem/0.76rem "";
    color: #000000;
    justify-content: flex-start;
    display: flex; }
    #Liren section .product .goodslist1 .goods .goodsb .goodsb1 span {
      height: 0.36rem;
      width: 0.36rem;
      text-align: center;
      color: #fff;
      background: #f485ca;
      margin: auto 0;
      margin-right: 0.14rem;
      display: block;
      font: 0.24rem/0.36rem ""; }
  #Liren section .product .goodslist1 .goods .goodsb .goodsb2 {
    justify-content: space-between;
    display: flex; }
    #Liren section .product .goodslist1 .goods .goodsb .goodsb2 li {
      width: 2.24rem; }
      #Liren section .product .goodslist1 .goods .goodsb .goodsb2 li img {
        width: 100%; }
      #Liren section .product .goodslist1 .goods .goodsb .goodsb2 li .money {
        font: 0.17rem ""; }
        #Liren section .product .goodslist1 .goods .goodsb .goodsb2 li .money span {
          font: 0.23rem/0.55rem "";
          color: #fe6136; }
#Liren section .product .goodslist2 {
  height: 20rem;
  width: 100%;
  background: #fe6136; }
#Liren section .product .goodslist3 {
  height: 20rem;
  width: 100%;
  background: #f99; }
#Liren section .product .goodslist4 {
  height: 20rem;
  width: 100%;
  background: #9f9; }
#Liren section .product .goodslist5 {
  height: 20rem;
  width: 100%;
  background: #99f; }
#Liren section .product .goodslist6 {
  height: 20rem;
  width: 100%;
  background: #9ff; }
#Liren section .product .goodslist7 {
  height: 20rem;
  width: 100%;
  background: #9f9; }
#Liren section .product .goodslist8 {
  height: 20rem;
  width: 100%;
  background: #ff9; }
#Liren section .product .goodslist9 {
  height: 20rem;
  width: 100%;
  background: #cff; }
#Liren section .product .goodslist10 {
  height: 20rem;
  width: 100%;
  background: #fcf; }
#Liren section .product .show {
  display: block; }

/*# sourceMappingURL=liren.css.map */
